body{
	font-family: Helvetica, sans-serif;
	margin: 0;
 	padding: 0;
}

.container{
	display: inline-block;
	margin-left:auto;
  	margin-right:auto;
	margin-top:1rem;
	max-width: 720px;
	padding: .75rem;
	
}

h1{
	color:white;
	background: black;
	font-family: serif;
	margin:0 .25rem;
    padding:.25rem;
}

.header{
	color:white;
	background: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem;
    padding:0rem;
    
  }

  .header a{
  	color: white;
  	text-decoration: none
  }

  .main-nav-list{
  	margin: 0rem;
    padding:0rem;
  	list-style: none;
  	display:flex;
  }
  .main-nav-item a {
  	color: white;
  	padding: .5rem;
  	text-decoration: none;
}

p{
	margin:1.5rem 0;
  	max-width: 500px;
	}

.gallary {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  }

  #colorstrip{
    height: 0px;
    border-bottom:solid 2px black;
}​